@layer base {
    main {
        @apply w-screen h-dvh overflow-hidden;
        background-image: url("/images/wallpaper8.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    nav {
        @apply fixed top-0 left-0 w-full z-[300] flex justify-between items-center bg-black/80 backdrop-blur-3xl px-5 select-none;

        div {
            @apply flex items-center gap-5;
        }

        .nav-links {
            @apply flex items-center gap-5 max-sm:gap-2;
        }

        ul {
            @apply flex items-center gap-5;

            li {
                @apply text-sm cursor-pointer px-2 py-1 rounded-full transition-colors hover:bg-white/10 font-semibold text-white
            }
        }

        .time-format {
            @apply text-sm font-medium text-white max-sm:hidden;
        }
    }
}
